
#card{
	width: 80%;
	margin-top: 15px;
	align: center;

	#left{
		margin-top: 15px;
		margin-bottom: 15px;
	}

	#photo{
		margin-top: 10px;
		margin-bottom: 10px;
	}

}

#toolbar{
	margin-top: 15px;
	width:90%;
	background-color: transparent;
	border-style: solid;
    border-width: 1px 0px 1px 0px;
	border-color: rgba(100, 100, 100, 0.6);
}
